.button{
	-fx-background-color: rgb(44,47,51);
	-fx-text-fill: rgb(114,137,218);
	-fx-font-weight: 900;
	-fx-font-size: 25;
	-fx-background-radius: 850;
}
.button:hover{
	-fx-background-color: rgba(44,47,51,0.8);
		-fx-text-fill: rgba(114,137,218,0.8);
}