.text-area {
	-fx-background-color: transparent;
	-fx-text-fill: rgb(114,137,218);
    -fx-font-weight: 900;
    -fx-font-size: 25;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}